<div class="share-dialog">
  <header class="share-dialog__header">
    <div>
      <h2 mat-dialog-title>Invite players</h2>
      <p>{{ data.roomName }}</p>
    </div>
    <button mat-icon-button type="button" aria-label="Close invite dialog" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <mat-dialog-content>
    <label class="share-dialog__field">
      <span>Room link</span>
      <input
        matInput
        readonly
        [value]="data.url"
        (focus)="selectUrl($event)"
        (click)="selectUrl($event)"
      />
    </label>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" type="button" (click)="copyUrl()">
      <mat-icon>content_copy</mat-icon>
      Copy invitation link
    </button>
  </mat-dialog-actions>
</div>
